	<h4 style="margin: 0;">新增/编辑项目</h4>	
	<hr style="margin-top: 5px;"/>
	 	<div class="row" id="checkbox">	 		 		
    		<div class="col-md-9">
    			<form class="editcompany" role="form">    				
    				<div class="project-part">
    					<h5>基本信息</h5>	
    					<input type="hidden" name="job_id" value="<%=data.job_id%>">
    					<input type="hidden" name="member_id" value="<%=session.userid%>">
    					<div class="form-group form-inline">
						    <label class="" for=""><span>*</span>项目名称：</label>
						    <input type="text" class="form-control np_form_check"  placeholder="请输入项目名称" np_require="true" autocomplete="off" name="job_name" value="<%=data.job_name%>">
						    <span class="help-block"></span>
					  	</div>
					  	<div class="form-group form-inline form-pos">
						    <label class="" for=""><span>*</span>客户名称：</label>
						    <input type="text" class="form-control np_form_check" id="customer-search"  placeholder="请输入客户名称" np_require="true" autocomplete="off" name="company_name" value="<%=data.company_name%>">
						    <div class="auto-search lala">		                      
								<ul class="auto-search-ul" id="ulItems"></ul>
							</div>  
							<input type="hidden" name="customer_id" id="companyid" value="<%=data.company_id%>" />
						    <span class="help-block"></span>
					  	</div>		
					  	<div class="form-group form-inline form-group100">
						    <label class="" for=""><span>*</span>职能：</label>
						    <div class="zhinengbox">
						    	<div class="zhinengcon"></div>
						    	<span class="glyphicon glyphicon-list-alt zhinengopen" data-toggle="modal" data-target=".zhineng"></span>
						    </div>
							<input type="hidden" class="np_form_check" placeholder="请选择职能" np_require="true" name="job_type" value="<%=data.job_type%>" />
							<input type="hidden" class="job_type_code" placeholder="" name="job_type_code" value="<%=data.job_type_code%>" />
							<span class="help-block"></span>
					  	</div>
					  	<div class="form-group form-inline">
						    <label class="" for=""><span>*</span>开放时间：</label>
						    <input type="text" class="form-control form_datetime np_form_check" placeholder="请选择开放时间" np_require="true" data-date-format="yyyy-mm-dd" autocomplete="off" name="open_date" value="<%=data.open_date%>">
					  		<span class="help-block"></span>
					  	</div>
					  	<div class="form-group form-inline">
						    <label class="" for=""><span>*</span>客户联系人：</label>
						    <select class="form-control select-fuzeren" <%if(!data.contact_id||data.contact_id==''){%>style="color:#a9a9a9;"<%}%>>
							  	<option value='' disabled <%if(!data.contact_id||data.contact_id==''){%>selected<%}%>>请先选择客户</option>								  	
							</select>
							<input type="hidden" class="np_form_check" placeholder="请选择负责人" name="contact_id" np_require="true" value="<%=data.contact_id%>" />
							<span class="help-block"></span>
					  	</div>
					  	<div class="form-group form-inline">
						    <label class="" for=""><span>*</span>状态：</label>
						    <select class="form-control" <%if(!data.job_state||data.job_state==''){%>style="color:#a9a9a9;"<%}%>>
						    	<option value='' disabled <%if(!data.job_state||data.job_state==''){%>selected<%}%>>请选择状态</option>
							  	<option value='运作' <%if(data.job_state=='运作'){%>selected<%}%>>运作</option>
							  	<option value='未签约' <%if(data.job_state=='未签约'){%>selected<%}%>>未签约</option>
							  	<option value='偏难' <%if(data.job_state=='偏难'){%>selected<%}%>>偏难</option>						  	
							  	<option value='暂停' <%if(data.job_state=='暂停'){%>selected<%}%>>暂停</option>	
							  	<option value='终止' <%if(data.job_state=='终止'){%>selected<%}%>>终止</option>
							  	<option value='已offer' <%if(data.job_state=='已offer'){%>selected<%}%>>已offer</option>							  	
							</select>
							<input type="hidden" class="np_form_check" placeholder="请选择状态" np_require="true" name="job_state" value="<%=data.job_state%>" />
							<span class="help-block"></span>
					  	</div>
					  	<div class="form-group form-inline">
					  		<label class="" for="">年薪：</label>
					  		<div class='edit_list'>
			 					<div class="salary_div"><input class="form-control" type="text" autocomplete="off" id="job_salary_from" name="job_salary_from" value="<%=data.job_salary_from%>"/></div>
				              	<div class="salary_text">-</div>
				              	<div class="salary_div"><input class="form-control" type="text" autocomplete="off" id="job_salary_to" name="job_salary_to" value="<%=data.job_salary_to%>"/></div>
			            		<div class="salary_text">万元</div>
					  		</div> 
					  	</div>
					  	<div class="form-group form-inline">
						    <label class="" for=""><span></span>年薪标注：</label>
			            	<input class="form-control input_biaozhu" id="salary_memo" type="text"  placeholder="请输入标注" autocomplete="off" name="salary_memo"  value="<%=data.salary_memo%>"/>						    
					  	</div>
					  	<div class="form-group form-inline">
						    <label class="" for=""><span>*</span>靠谱度：</label>
						    <select class="form-control" <%if(!data.job_reliable||data.job_reliable==''){%>style="color:#a9a9a9;"<%}%>>
							  	<option value='' disabled <%if(!data.job_reliable||data.job_reliable==''){%>selected<%}%>>请选择靠谱度</option>
							  	<option value='靠谱' <%if(data.job_reliable=='靠谱'){%>selected<%}%>>靠谱</option>						  		
							  	<option value='一般' <%if(data.job_reliable=='一般'){%>selected<%}%>>一般</option>						  		
							  	<option value='不靠谱' <%if(data.job_reliable=='不靠谱'){%>selected<%}%>>不靠谱</option>						  		
							</select>
							<input type="hidden" class="np_form_check" placeholder="请选择靠谱度" np_require="true" name="job_reliable" value="<%=data.job_reliable%>" />
							<span class="help-block"></span>
					  	</div>
					  	<div class="form-group form-inline">
						    <label class="" for=""><span>*</span>紧急度：</label>
						    <select class="form-control" <%if(!data.job_level||data.job_level==''){%>style="color:#a9a9a9;"<%}%>>
							  	<option value='' disabled <%if(!data.job_level||data.job_level==''){%>selected<%}%>>请选择紧急度</option>
							  	<option value='很急' <%if(data.job_level=='很急'){%>selected<%}%>>很急</option>						  		
							  	<option value='一般' <%if(data.job_level=='一般'){%>selected<%}%>>一般</option>						  		
							  	<option value='不急' <%if(data.job_level=='不急'){%>selected<%}%>>不急</option>						  		
							</select>
							<input type="hidden" class="np_form_check" placeholder="请选择紧急度" np_require="true" name="job_level" value="<%=data.job_level%>" />
							<span class="help-block"></span>
					  	</div>	
    				</div>
    				<div class="project-part">
    					<h5>职位要求</h5>	    						
					  	<div class="form-group form-inline">
						    <label class="" for=""><span>*</span>工作年限：</label>
						    <select class="form-control" <%if(!data.job_workyear||data.job_workyear==''){%>style="color:#a9a9a9;"<%}%>>
						    	<option value='' disabled <%if(!data.job_workyear||data.job_workyear==''){%>selected<%}%>>请选择工作年限</option>  
							  	<option value='0' <%if(data.job_workyear=='0'){%>selected<%}%>>不限</option>
							  	<option value='5' <%if(data.job_workyear=='5'){%>selected<%}%>>应届生</option>
							  	<option value='1' <%if(data.job_workyear=='1'){%>selected<%}%>>1-3年</option>
							  	<option value='2' <%if(data.job_workyear=='2'){%>selected<%}%>>3-5年</option>
							  	<option value='3' <%if(data.job_workyear=='3'){%>selected<%}%>>5-10年</option>
							  	<option value='4' <%if(data.job_workyear=='4'){%>selected<%}%>>10年及以上</option>
							</select>
							<input type="hidden" class="np_form_check" placeholder="请选择工作年限" np_require="true" name="job_workyear" value="<%=data.job_workyear%>" />
							<span class="help-block"></span>
					  	</div>
					  	<div class="form-group form-inline">
					  		<label class="" for="">年龄要求：</label>
					  		<div class='edit_list'>
			 					<div class="salary_div"><input class="form-control" type="text" autocomplete="off" id="" name="job_age_from" value="<%=data.job_age_from%>"/></div>
				              	<div class="salary_text">-</div>
				              	<div class="salary_div"><input class="form-control" type="text" autocomplete="off" id="" name="job_age_to" value="<%=data.job_age_to%>"/></div>
			            		<div class="salary_text">岁</div>
					  		</div> 
					  	</div>					  	
					  	<div class="form-group form-inline">
						    <label class="" for="">性别要求：</label>
						    <select class="form-control" <%if(!data.job_sex||data.job_sex==''){%>style="color:#a9a9a9;"<%}%>>
							  	<option value='' disabled <%if(!data.job_sex||data.job_sex==''){%>selected<%}%>>请选择性别</option>
							  	<option value='1' <%if(data.job_sex=='1'){%>selected<%}%>>男</option>
							  	<option value='0' <%if(data.job_sex=='0'){%>selected<%}%>>女</option>
							  	<option value='2' <%if(data.job_sex=='2'){%>selected<%}%>>男女不限</option>						  	
							</select>
							<input type="hidden" class="" placeholder="请选择性别" np_require="true" name="job_sex" value="<%=data.job_sex%>" />
					  	</div>
					  	<div class="form-group form-inline">
						    <label class="" for="">学历要求：</label>
						    <select class="form-control" <%if(!data.job_college||data.job_college==''){%>style="color:#a9a9a9;"<%}%>>
						    	<option value='' disabled <%if(!data.job_college||data.job_college==''){%>selected<%}%>>请选择学历</option>
							  	<option value='0' <%if(data.job_college=='0'){%>selected<%}%>>不限</option>
							  	<option value='2' <%if(data.job_college=='2'){%>selected<%}%>>大专</option>
							  	<option value='3' <%if(data.job_college=='3'){%>selected<%}%>>本科</option>						  	
							  	<option value='4' <%if(data.job_college=='4'){%>selected<%}%>>硕士</option>	
							  	<option value='5' <%if(data.job_college=='5'){%>selected<%}%>>博士</option>							  	
							</select>
							<input type="hidden" class="" placeholder="请选择学历" np_require="true" name="job_college" value="<%=data.job_college%>" />
					  	</div>
					  	<div class="form-group form-inline">
						    <label class="" for="">语言要求：</label>
						    <input type="text" class="form-control"  placeholder="请输入语言要求" autocomplete="off" name="job_language" value="<%=data.job_language%>">
					  	</div>
    				</div>
    				<div class="project-part project-workcity">
    					<h5>工作地点<a href="javascript:void(0);" class="glyphicon glyphicon-plus add-workcity" no-nave="true">添加工作地点</a></h5>
    					<% if (data.locationList){%>
						<%data.locationList.forEach(function(location){%>    					
    					<div class="form-inline form-group100 form-workcity">
				  			<div class="form-group form-part">
				  				<label class="" for=""><span>*</span>工作地点：</label>
						    	<input type="text" class="form-control np_form_check" placeholder="请输入工作地点" np_require="true" autocomplete="off" name="locationList.job_area" value="<%=location.job_area%>">
						    	<span class="help-block"></span>
				  			</div>
						    <div class="form-group form-part">
				  				<label class="" for="">详细地址：</label>
						    	<input type="text" class="form-control"  placeholder="请输入详细地址" name="locationList.job_location" value="<%=location.job_location%>">
				  			</div>
						    <div class="form-group form-part">
				  				<label class="" for=""><span>*</span>需求人数：</label>
						    	<input type="text" class="form-control np_form_check" placeholder="请输入需求人数" np_require="true" autocomplete="off"  name="locationList.job_renshu" value="<%=location.job_renshu%>">
						    	<span class="help-block"></span>
				  			</div>
				  			<a href="javascript:void(0);" class="glyphicon glyphicon-remove remove-workcity" no-nave="true"></a>
					  	</div>
					  	<%})%>
						<%}%>
    				</div>
				  	<div class="project-part" style="border-bottom: none;">
				  		<h5>相关信息</h5>
				  		<div class="form-group form-inline form-group100" style="padding: 0;">
				  			<div class="form-group form-part">
				  				<label class="" for="">所属部门：</label>
						    	<input type="text" class="form-control" id="" placeholder="请输入所属部门" autocomplete="off" name="job_bumen" value="<%=data.job_bumen%>">
				  			</div>
						    <div class="form-group form-part">
				  				<label class="" for="">直属上级：</label>
						    	<input type="text" class="form-control" id="" placeholder="请输入直属上级" autocomplete="off" name="superior_name" value="<%=data.superior_name%>">
				  			</div>
						    <div class="form-group form-part">
				  				<label class="" for="">部门人数：</label>
						    	<input type="text" class="form-control" id="" placeholder="请输入部门人数" autocomplete="off" name="job_bumen_num" value="<%=data.job_bumen_num%>">
				  			</div>
					  	</div>
					  	<div class="form-group form-inline form-group100">
						    <label class="" for=""><span>*</span>职位描述：</label>
						    <textarea class="form-control np_form_check" name="job_desc" rows="5" cols="5" placeholder="请输入职位描述" np_require="true" value="<%=data.job_desc%>"><%=data.job_desc%></textarea>
						    <span class="help-block"></span>
					  	</div>
					  	<div class="form-group form-inline  form-group100">
						    <label class="" for="">寻访方向：</label>
						    <textarea class="form-control" name="company_point" rows="5" cols="5" placeholder="请输入寻访方向" value="<%=data.company_point%>"><%=data.company_point%></textarea>
					  	</div>
					  	<div class="form-group form-inline  form-group100">
						    <label class="" for="">候选人目标公司：</label>
						    <textarea class="form-control" name="job_company" rows="5" cols="5" placeholder="请输入候选人目标公司" value="<%=data.job_company%>"><%=data.job_company%></textarea>
					  	</div>
					  	<div class="form-group form-inline  form-group100">
						    <label class="" for="">面试流程：</label>
						    <textarea class="form-control" name="mianshi_liucheng" rows="5" cols="5" placeholder="请输入面试流程" value="<%=data.mianshi_liucheng%>"><%=data.mianshi_liucheng%></textarea>
					  	</div>
				  	</div>
				  	<div class="save-company"><a id="save-project" class="btn" href="javascript:void(0);" role="button" no-nave="true">保存</a></div>
				</form>  
    		</div>
		</div>
	</div> 
	<div class="modal fade zhineng" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal-zhineng">
		
	  	<div class="modal-dialog" role="document">
		    <div class="modal-content">
		      	<div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	                <h4 class="modal-title">选择职能</h4>
            	</div>
            	<div class="modal-body">
	                <div class="zhineng-choosed">
	                	<em>最多选择 5 项</em>
	                </div>
	                <div class="zhineng-tabs">
	                	<ul>
	                		<li class="active allzhineng"><a href="javascript:void(0);" no-nave="true"><span>全部职能</span><em></em></a></li>
	                	</ul>
	                </div>
	                <div class="zhineng-container">
	                	<div class="zhineng-center"></div>
	                </div>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-primary btn-savezhineng">保存</button>	            	
	                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	            </div>
		    </div>
	  	</div>	  	
	</div>
	<!--全部职能和专业职能 start-->
	<script id="tpl_zhinengmould" type="text/html">
		<div class="zhineng-list">			
			<p level="{{GeneralFunction['level']}}">{{GeneralFunction['catalog_name']}}</p>
			<ul>
				{{if GeneralFunction.childList!=''}}
				{{each GeneralFunction.childList as child}}								
				<li><a href="javascript:void(0);" code="{{child['func_code']}}" level="{{child['child_level']}}" no-nave="true">{{child['func_name']}}</a></li>	
				{{/each}}
				{{/if}}
			</ul>
			
		</div>
		<div class="zhineng-list">			
			<p level="{{SpecialficFunction['level']}}">{{SpecialficFunction['catalog_name']}}</p>
			<ul>
				{{if SpecialficFunction.childList!=''}}
				{{each SpecialficFunction.childList as child}}								
				<li><a href="javascript:void(0);" code="{{child['func_code']}}" level="{{child['child_level']}}" no-nave="true">{{child['func_name']}}</a></li>	
				{{/each}}
				{{/if}}
			</ul>
		</div>
	</script>
<!--全部职能和专业职能 end-->
<!--职能列表 start-->
<script id="tpl_zhinengpart" type="text/html">
	<div class="zhinenglist-left">
		<ul>
			{{if childList!=''}}
			{{each childList as child}}
			<li><a href="javascript:void(0);" code="{{child['func_code']}}" level="{{child['child_level']}}" no-nave="true">{{child['func_name']}}</a></li>	
			<!--<span class="badge">10</span>-->
			{{/each}}
			{{/if}}
		</ul>
	</div>
	<div class="zhinenglist-right">
		<div class="zhineng-list">
			<ul>
				{{if childList!=''}}
				{{each childList as child}}								
				<li><a href="javascript:void(0);" code="{{child['func_code']}}" level="{{child['child_level']}}" no-nave="true">{{child['func_name']}}</a></li>	
				{{/each}}
				{{/if}}
			</ul>
		</div>	
	</div>	
</script>
<!--职能列表 end-->
<!--左右职能列表 start-->
<script id="tpl_zhinenglist" type="text/html">
	<div class="zhineng-list">
		<ul>
			{{if childList!=''}}
			{{each childList as child}}								
			<li><a href="javascript:void(0);" code="{{child['func_code']}}" level="{{child['child_level']}}" no-nave="true">{{child['func_name']}}</a></li>	
			{{/each}}
			{{/if}}
		</ul>
	</div>	
</script>
<!--左右职能列表 end-->
<script type="text/javascript">
	$(function(){
		getCompanyContact('<%=data.company_id%>','<%=data.contact_id%>');

		$('.form_datetime').datetimepicker({
            language: 'zh-CN',
            format: 'yyyy-mm-dd',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2, //这里就设置了默认视图为年视图
            minView: 4, //设置最小视图为年视图
            forceParse: 0,
       	});

		
//		$(document).on("click",".zhinenglist-left a",function() {
//			var param = {};
//	        var param = new Object();
//	         param.catalog_code = code;
//	        jQuery.ajax({	   
//	            type: 'post',   
//	            contentType : 'application/json; charset=utf-8',   
//	            dataType: 'json',   
//	            url: logic_api_host + "/api/common/all_function",
//	            data: JSON.stringify(param),   
//	            success: function(data){
//	            	$(".zhinenglist-right").html('').html(template('tpl_zhinengmould', data));
//		        }        
//			})	
//		})
//	职能编辑初始化 start
	var job_type = '<%=data.job_type%>';
	var job_type_code = '<%=data.job_type_code%>';	
	job_type = job_type.split(',');
  	job_type_code = job_type_code.split(',');  	
	for(var i=0; i<job_type.length; i++){	
	 	$(".zhinengbox").find(".zhinengcon").append("<span code="+job_type_code[i]+">"+job_type[i]+"<em>&times;</em></span>");			 		
	}
//	职能编辑初始化 end

})
</script>