	<div class="serviceconBox">
		<div class="searchpartcon">
			<div class="time_search">
				<span class="">日期：</span>
				<div><input type="" name="" id="data1" value="<%=data.date_from%>" autocomplete="off" placeholder="起始日期" class="form-control form_date np_form_check"/></div>
				<span class="zhi">至</span>
				<div><input type="" name="" id="data2" value="<%=data.date_to%>" autocomplete="off" placeholder="截止日期" class="form-control form_date np_form_check"/></div>
				<button class="chanjixiaodatabtn btn" role="button">确定</button>
			</div>
		</div>
	 	<table class="table">
	 		<thead>
	 		<tr>
	 			<th>合伙人名称</th>
	 			<th>推荐量</th>
	 			<th>面试量</th>
	 			<th>未来一周面试量</th>
	 			<th>offer量</th>
	 			<th>入职量</th>	 			
	 		</tr>
	 		</thead>
	 		<tbody>
	 		<%if(data.jixiaoList){%>
	 		<%data.jixiaoList.forEach(function(jixiaoList){%>
	 		<tr>
	 			<td><a href="/Channel_progress?channel_openid=<%=jixiaoList.channel_openid%>" target-view="Channelcon" pushstate="false"><%=jixiaoList.channel_name%></a></td>			 			
	 			<td><%=jixiaoList.tuijian_num%></td>
	 			<td><%=jixiaoList.mianshi_num%></td>
	 			<td><%=jixiaoList.mianshi_nextweek_num%></td>
	 			<td><%=jixiaoList.offer_num%></td>
	 			<td><%=jixiaoList.ruzhi_num%></td>
	 		</tr>			 		
	 		<%})%>
	 		<%}%>
	 		</tbody>
	 	</table>
	 	<div id="pagination1"></div>
	</div>
	<script type="text/javascript">
		time_ymd()
	</script>